# folders
.Xil/
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sdk/
*.sim/
PZ_PZP201_PRO_NO_OS/
*.srcs/
Packages/


# xilinx project
*.xpr
*.xpr.pb

# Logs
*.jou
*.log
*.str
*.tmp

# WebTalk usage statistics files
webtalk*.html
webtalk*.xml

*.dmp
# Other generated folders you might have
NA/